.layout-container {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to right, #F3DCBB, #deb883);
  min-height: 100vh;
}

.layout-logo {
  width: 400px;
  margin-bottom: 20px;
}

.layout-content {
  margin-top: 20px;
}
