.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:#F3DCBB; 
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 24px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.remember-me {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.remember-me input {
  margin-right: 10px;
}

.login-button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
  transition: background 0.3s;
}

.login-button:hover {
  background: #0056b3;
}

.forgot-password {
  display: block;
  margin: 10px 0;
  color: #007bff;
  text-decoration: none;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-with {
  margin: 20px 0;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-buttons button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background 0.3s;
}

.social-buttons .google {
  display: flex;
  align-items: center;
  
}

.social-buttons .google .social-logo {
  width: 35px;
  height: 35px;
}

.social-buttons .facebook {
  background: #3b5998;
  color: white;
}

.social-buttons .apple {
  background: #000;
  color: white;
}

.social-buttons .email {
  background: #007bff;
  color: white;
}

.social-buttons button:hover {
  opacity: 0.8;
}

.sign-up {
  margin-top: 20px;
}

.sign-up a {
  color: #007bff;
  text-decoration: none;
}

.sign-up a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-box {
    padding: 20px;
    width: 90%;
  }

  .input-field {
    font-size: 14px;
  }

  .login-button {
    font-size: 14px;
  }

  .social-buttons .social-logo {
    width: 30px;
    height: 30px;
  }
}
